PORT=5000
# For local development, you can use local MongoDB:
# MONGO_URI=mongodb://127.0.0.1:27017/talentcrm
# For production or cloud testing, use your MongoDB Atlas connection string:
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.xxxxxxx.mongodb.net/talentcrm?retryWrites=true&w=majority
JWT_SECRET=your_jwt_secret_key_here
NODE_ENV=development
